.icon-button {
    margin: 0 6px;
    min-width: 0;
    line-height: 24px;
    border-radius: 50%;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.54);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color .4s cubic-bezier(.25, .8, .25, 1);
    transition: background-color .4s cubic-bezier(.25,.8,.25,1);
}

.icon-button:not([disabled]):active {
    background-color: rgba(158, 158, 158, 0.2);
}
