html {
  min-width: 600px;
  width: 100%;
  max-width: 80vw;
}

body {
  margin: 0;
  padding: 8px;
}

#popupmodal {
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  align-items: center;
}

.input-container i {
  color: rgba(0, 0, 0, 0.5);
}

#modalInput {
  margin-right: 16px;
  display: flex;
  flex: 1;
  border: 0;
  border-bottom: 1px solid;
}

#modalInput:focus {
  outline: 0;
}

#modalResults {
  display: flex;
  flex-direction: column;
}

.selection {
  white-space: nowrap;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 2px 0;
  border-radius: 2px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.selection em {
  font-style: initial;
  font-weight: 700;
}
.selection i {
  font-size: 1rem;
  margin-right: 0.25rem;
  vertical-align: bottom;
}

#modalResults .selection[selected] {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
  cursor: pointer;
  background-color: rgba(116, 163, 185, 0.4);
}

#settingsButton {
  cursor: pointer;
  border-radius: 50%;
  padding: 4px;
}

#settingsButton:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
}
