/* remove ai results - doesnt block the call */
[id] :has(> div > div[data-mcpr]) {
  display: none;
}

/* Hide ai mode, products, short videos, etc  */
/* document.querySelectorAll('div[role="navigation"]:first-of-type div[role="list"]:first-of-type a').forEach(a => console.log(a.innerText, a.href ? new URL(a.href).searchParams.get('udm') : '')); */
div[role="navigation"]:first-of-type div[role="list"]:first-of-type {
  div[role="listitem"]:has(
      a[href*="udm=50"], /* ai mode */
      > a[href*="udm=3"], /* products */
      > a[href*="udm=9"], /* product websites */
      > a[href*="udm=39"] /* short videos */
  ) {
    display: none;
  }
}

/* remove "people also ask" and "images" sections */
#search #rso {
  /* people also ask */
  > div:has(> div > div[data-initq]) {
    display: none;
  }

  /* images, forums, products */
  div.ULSxyf, div:has(g-card) {
    display: none;
  }
}

/* bottom results (also searched for) */
#bres {
  display: none;
}

/* document.querySelectorAll('#search #rso > div:has(g-card)') */
