:root {
  --dgyp-display: block;
  --dgyp-bg: rgba(255, 0, 0, 0.05);

  body:not([dgyp-shown]) {
    --dgyp-display: none;
    --dgyp-bg: unset;
  }
}

/* remove ai results - doesnt block the call */
[id] :has(> div > div[data-mcpr]) {
  display: var(--dgyp-display);
  background-color: var(--dgyp-bg);
}

/* non search results */
#rso .ULSxyf {
  display: var(--dgyp-display);
  background-color: var(--dgyp-bg);
}

/* bottom results (also searched for) */
#bres {
  display: var(--dgyp-display);
  background-color: var(--dgyp-bg);
}

[dgyp-target] {
  display: var(--dgyp-display);
  background-color: var(--dgyp-bg);
}

#dgypShown {
  /*grid-column: -2 / -2;*/
  height: 1rem;
  width: 1rem;
  align-self: baseline;
}
