/* remove shorts / news / crap  */
ytd-rich-section-renderer:has(#dismissible) {
  display: none !important;
}

/* remove end of video cards  */
.ytp-ce-element {
  display: none !important;
}

/* hide "includes paid promotions" thinger */
.ytInlinePlayerControlsTopLeftControls {
  display: none !important;
}

.ytd-rich-grid-renderer {
  --ytd-rich-grid-items-per-row: 6;
}
